<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="${app_name}"
        android:allowBackup="false"
        android:supportsRtl="true">

        <meta-data
            android:name="app_name"
            android:value="${app_name}" />
        <meta-data
            android:name="des"
            android:value="${des}" />
        <meta-data
            android:name="minMCVer"
            android:value="${minMCVer}" />
        <meta-data
            android:name="maxMCVer"
            android:value="${maxMCVer}" />

    </application>

</manifest>
